//
// See the file COPYRIGHT for copyright information.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

package template

templ AdminOutcomes(deployment, versionName, versionRef string) {
<!DOCTYPE html>
<html lang="en">
@Head("Edit Incident Outcomes", "admin_outcomes.js", false, false, versionRef)

<body>
<div class="container-fluid">
@Header(deployment)
@Nav("")
<h1 id="doc-title">Incident Outcomes</h1>
@LoadingOverlay()
@ErrorInfo()

    <div class="modal no-print" id="editOutcomeModal" tabindex="-1" aria-labelledby="editOutcomeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title fs-5" id="editOutcomeModalLabel">Edit Outcome</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
          </div>
          <div class="modal-body row">
            <div class="input-group mb-3">
              <label for="edit_outcome_name" class="control-label input-group-text">Name</label>
              <input id="edit_outcome_name" type="text" class="form-control form-control-sm" onchange="setOutcomeName(this);" />
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="row" id="outcomes_container">

    <div id="outcomes" class="col-sm-12 outcomes">
      <div class="card">
        <label class="card-header">Incident outcomes</label>
        <ul class="list-group list-group-small list-group-flush card-body">
          <template id="outcome_li_template">
            <li class="list-group-item ps-3" data-outcome-id="">
              <button class="badge btn btn-primary float-end badge-visible"
                  onclick="hideOutcome(this)">
                Active
              </button>
              <button class="badge btn btn-warning float-end badge-hidden"
                  onclick="showOutcome(this)">
                Hidden
              </button>
              <button class="show-edit-modal badge btn btn-primary float-end me-2">
                Edit
              </button>
              <button class="approve-outcome badge btn btn-success float-end me-2 hidden">
                Approve
              </button>
              <div class="outcome-name">
                <span class="outcome-name-text"></span>
                <span class="outcome-proposed badge text-bg-warning ms-2 hidden">proposed</span>
              </div>
            </li>
          </template>
        </ul>
        <div class="card-footer">
          <label>Add:</label>
          <input
              class="form-control input-sm auto-width"
              type="text" inputmode="verbatim"
              disabled=""
              placeholder="Sent Home"
              onchange="createOutcome(this)"
          />
        </div>
      </div>
    </div>
  </div>
@Footer(versionName, versionRef)
</div>
</body>
</html>

}
