//
// See the file COPYRIGHT for copyright information.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

package template

templ AdminEvents(deployment, versionName, versionRef string) {
<!DOCTYPE html>
<html lang="en">
@Head("Edit Events", "admin_events.js", false, versionRef)

<body>
<div class="container-fluid">
@Header(deployment)
@Nav("")
<h1 id="doc-title">Events and Permissions</h1>
@LoadingOverlay()

@ErrorInfo()

  <div class="modal no-print" id="editEventModal" tabindex="-1" aria-labelledby="editEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title fs-5" id="editEventModalLabel">Edit Event</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
        </div>
        <div class="modal-body row">
          <div class="input-group mb-3">
            <label for="is_group" class="control-label input-group-text">Is Group</label>
            <input id="is_group" type="text" class="form-control form-control-sm" disabled="" />
          </div>
          <div class="input-group mb-3">
            <label for="edit_parent_group" class="control-label input-group-text">Parent Group</label>
            <input id="edit_parent_group" type="text" class="form-control form-control-sm" onchange="setParentGroup(this);" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- "Explain permissions" modal -->
  <div class="modal no-print" id="explainModal" tabindex="-1" aria-labelledby="explainModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title fs-5" id="explainModalLabel">Current permissions</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
        </div>
        <div class="modal-body white-space-pre-wrap text-smaller">
        </div>
      </div>
    </div>
  </div>

  <p>For each event, you can configure permissions for individuals, positions, onduty positions, or teams. For example:</p>
  <ul>
    <li><strong>person:Tool</strong></li>
    <li><strong>position:007</strong> - grants access to people who are eligible to work shifts for the provided position</li>
    <li><strong>onduty:Operations Manager</strong> - grants access to people currently on-duty for the provided position</li>
    <li><strong>team:Council</strong></li>
  </ul>
  <p>You can also choose when each permission is valid:</p>
  <ul>
    <li><strong>Always</strong> - valid all year long</li>
    <li><strong>On-Site</strong> - valid only when a matching person is marked "on-site"</li>
  </ul>
  <p>You can set an expiration team for each permission, after which the permission will stop granting access. Times are shown in your time zone (<span id="browser_tz"></span>).</p>
  <p>A permission with an invalid person, position, or team name will show "Unknown" in that row, to indicate that the admin likely made a typo.</p>
  <p>You can click the "Explain" button to see which people currently match which permissions, based on position/team mappings, validity rules, and expiration times.</p>
  <div class="row" id="event_access_container">
    <!-- event_access_template elements go here -->
  </div>
  <template id="event_access_template">
    <h3 class="mt-2"><span class="event_name"></span><button class="show-edit-modal badge btn btn-primary float-end me-2">Edit</button></h3>
    <!-- event_access_mode_template elements go here -->
  </template>
  <template id="event_access_mode_template">
    <div class="col-sm-12 py-1 event_access">
      <div class="card">
        <span class="card-header"><span class="access_mode"></span> for{ } <span class="event_name"></span>
          <button type="button" class="explain_button badge btn btn-primary float-end">Explain</button>
        </span>
        <ul class="list-group list-group-small list-group-flush card-body">
          <!-- permission_template elements go here -->
        </ul>
        <div class="card-footer">
          <label for="access_add">Add:</label>
          <input
            id="access_add"
            class="form-control input-sm auto-width"
            type="text" inputmode="verbatim"
            placeholder="person:Tool"
            onchange="addAccess(this)"
          />
        </div>
      </div>
    </div>
  </template>
  <template id="permission_template">
    <li class="list-group-item ps-3">
      <select class="access_validity" onchange="setValidity(this)">
        <option value="always">Always</option>
        <option value="onsite">On-Site</option>
      </select>
      <button class="badge btn btn-danger float-end ms-1" onclick="removeAccess(this)">
        X
      </button>
      <input
          class="access_expires hidden float-end"
          type="datetime-local"
          aria-label="Expiration time"
          onblur="setExpires(this)"
          title="Expiration time, in your browser's time zone"
      />
      <input
          class="btn btn-xs btn-outline-secondary access_expires_button float-end"
          type="button"
          value="Set expiration"
          onclick="showExpiresInput(this)"
      />
      <span class="access_expired_text fw-bold float-end me-2" aria-label="Expiration info"></span>
      <span class="unknown_target_text fw-bold float-end me-2" aria-label="Unknown info"></span>
    </li>
  </template>
  <div class="row" id="event_new_container">
    <div class="col-sm-12 event_access">
      <label for="event_add">Create New Event:</label>
      <input
              id="event_add"
              class="form-control input-sm auto-width"
              disabled=""
              type="text" inputmode="verbatim"
              placeholder="Burn-A-Matic-3000"
              onchange="addEvent(this, 'not-group')"
      />
    </div>
  </div>
  <div class="row" id="event_new_container">
    <div class="col-sm-12 event_access">
      <label for="event_add_group">Create New Event Group:</label>
      <input
              id="event_add_group"
              class="form-control input-sm auto-width"
              disabled=""
              type="text" inputmode="verbatim"
              placeholder="Collection-of-Burns"
              onchange="addEvent(this, 'group')"
      />
    </div>
  </div>
@Footer(versionName, versionRef)
</div>
</body>
</html>
}
