//
// See the file COPYRIGHT for copyright information.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

package template

templ Head(title string, module string, usesDataTables bool, usesCharts bool, cacheVersion string) {
{{
    v := cacheVersion[:8]
    var esImports = map[string]any{
        "imports": map[string]string{
            "/ims/static/ims.js": "/ims/static/ims.js?v=" + v,
        },
    }
}}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @templ.JSONScript("importmap", esImports).WithType("importmap")
    <link rel="apple-touch-icon" sizes="180x180" href="/ims/static/logos/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ims/static/logos/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ims/static/logos/favicon-16x16.png">
    <link rel="manifest" href="/ims/static/logos/site.webmanifest">
    <link rel="stylesheet" href="/ims/static/ext/bootstrap/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/ims/static/ext/flatpickr/flatpickr.min.css" type="text/css">
    if usesDataTables {
    <link rel="stylesheet" href="/ims/static/ext/datatables/dataTables.bootstrap5.min.css" type="text/css">
    }
    <link rel="stylesheet" href="/ims/static/style.css" type="text/css">
    <title>{title}</title>
    <script src="/ims/static/ext/jquery.min.js" defer></script>
    <script src="/ims/static/ext/bootstrap/bootstrap.bundle.min.js" defer></script>
    <script src="/ims/static/ext/flatpickr/flatpickr.min.js" defer></script>
    <script src={"/ims/static/urls.js?v=" + v} defer></script>
    if usesDataTables {
    <script src="/ims/static/ext/datatables/dataTables.min.js" defer></script>
    <script src="/ims/static/ext/datatables/dataTables.bootstrap5.min.js" defer></script>
    }
    if usesCharts {
    <script src="/ims/static/ext/chartjs/chart.umd.min.js" defer></script>
    }
    <script src={"/ims/static/" + module + "?v=" + v} type="module"></script>
    <!-- theme.js should not be deferred, so add it last. -->
    <!-- We run it synchronously to avoid a flicker on page load for dark mode users. -->
    <script src={"/ims/static/theme.js?v=" + v}></script>
</head>
}
