//
// See the file COPYRIGHT for copyright information.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

package template

templ Login(deployment, versionName, versionRef string) {
<!DOCTYPE html>
<html lang="en">
@Head("Log In | IMS", "login.js", false, false, versionRef)

<body>
<div class="container-fluid">
@Header(deployment)
@Nav("")
<h1 id="doc-title">Incident Management System</h1>

@ErrorInfo()

<form method="POST" id="login_form" class="form-horizontal">

<button type="button" class="btn btn-block btn-danger if-authentication-failed hidden">Authentication Failed</button>
<button type="button" class="btn btn-block btn-danger if-logged-in hidden">You are already logged in as <span
        class="logged-in-user"/></button>

<p>
  Please log in with your IMS credentials.
</p>

<div class="form-floating mb-3">
  <input id="username_input" type="text" name="username" inputmode="latin-name"
         class="form-control text-size-normal"
         autocomplete="username" placeholder="name@example.com"/>
  <label for="username_input">Email address</label>
</div>

<div class="input-group mb-3">
  <div class="form-floating">
    <input id="password_input" type="password" name="password" inputmode="latin-prose"
           class="form-control text-size-normal"
           autocomplete="current-password" placeholder="Password"/>
    <label for="password_input">Password</label>
  </div>
  <button class="btn btn-outline-secondary" type="button" id="password_show_hide" onclick="toggleShowPassword()">Show</button>
</div>

<div class="mb-3">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>

<p class="text-body-secondary">
  Forgot your password? Ask a crew leader or an admin to reset it.
</p>

</form>
@Footer(versionName, versionRef)
</div>
</body>
</html>

}
