//
// See the file COPYRIGHT for copyright information.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

package template

templ Root(deployment, versionName, versionRef string) {
<!DOCTYPE html>
<html lang="en">
@Head("Home | IMS", "root.js", false, false, versionRef)

<body>
<div class="container-fluid">
@Header(deployment)
@Nav("")
<h1 id="doc-title">Incident Management System</h1>

@ErrorInfo()

<p class="mt-3 if-logged-in hidden">
  <a id="current-year-link" href="/ims/app/events/2026/incidents">Jump to the current event</a> or select another event from the dropdown above.
</p>

<div class="mt-3 if-logged-in hidden">
  <p>Summary of what's new in 2026:</p>
  <ul>
    <li>Location names/addresses can be autopopulated using official camp/art/MV data</li>
    <li>Involvement can be set on Incidents, indicating how each person was involved</li>
    <li>Incidents may now be linked together, even across years, to permit easier navigation between related Incidents</li>
    <li>Green Dots can now track all White Bird Visit information inside IMS, and can attach Visits to Incidents</li>
  </ul>
</div>

<div class="btn-group mb-3" role="group">
  <a
     id="login-button"
     href="/ims/auth/login"
     role="button"
     class="btn btn-md btn-default btn-primary if-not-logged-in hidden"
  >
    Log In
  </a>
</div>

<div class="btn-group mb-3" role="group">
  <a
     href="/ims/auth/logout"
     role="button"
     class="btn btn-md btn-default btn-danger if-logged-in hidden"
  >
    Log Out
  </a>
</div>
@Footer(versionName, versionRef)
</div>
</body>
</html>
}
