//
// See the file COPYRIGHT for copyright information.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//     http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//

package template

templ SanctuaryVisit(deployment, versionName, versionRef, eventName string) {
<!DOCTYPE html>
<html lang="en">
@Head("Sanctuary Visit | " + eventName, "sanctuary_visit.js", true, versionRef)

<body>
<div class="container-fluid">
@Header(deployment)
@Nav(eventName)
<h1 id="doc-title">Sanctuary Visit</h1>

@LoadingOverlay()

@ErrorInfo()

    <!-- Help modal -->
    <div class="modal no-print" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title fs-5" id="helpModalLabel">Keyboard shortcuts</p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
          </div>
          <div class="modal-body">
            <code>n</code>: create (n)ew Sanctuary Visit<br/>
            <code>a</code>: jump to (a)dd new report text<br/>
            <code>h</code>: toggle showing system-generated (h)istory <br/>
          </div>
        </div>
      </div>
    </div>

    <!-- Visit number, state, check-in time -->

    <div class="row py-1">
      <div class="col-sm-6 py-1">
        <div class="input-group flex-nowrap">
          <label for="visit_number" class="control-label input-group-text">VS #</label>
          <input id="visit_number" type="text" class="form-control form-control-static mw-4rem" readonly/>
        </div>
      </div>
      <div class="col-sm-6 py-1">
        <div class="input-group">
          <a id="parent_incident_link" href="#" class="control-label input-group-text">IMS #</a>
          <input
              id="parent_incident"
              aria-label="Parent Incident"
              type="text"
              class="form-control form-control-sm"
              autocomplete="off"
              onchange="editParentIncident()"
          />
        </div>
      </div>
    </div>

   <!-- Instructions -->
   <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-instructions" aria-controls="collapse-instructions">
            Instructions
          </button>
        </h2>
        <div id="collapse-instructions" class="accordion-collapse collapse">
          <div class="accordion-body">
            The Green Dot Cadre can choose what to put in this space, if anything.
          </div>
        </div>
      </div>
  </div>

    <div class="accordion pt-1">

      <!-- Basics -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-basics" aria-expanded="true" aria-controls="collapse-basics">
            Basics
          </button>
        </h2>
        <div id="collapse-basics" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <form class="form-horizontal">
              <div class="input-group row align-items-center">
                <label for="guest_preferred_name"
                     class="col-sm-2 col-form-label control-label">Preferred name:</label>
                <div title="The name the guest wants to be called by" class="col-sm-10">
                  <input
                      id="guest_preferred_name" class="form-control form-control-sm"
                      type="text" inputmode="latin-prose" autocomplete="off"
                      onchange="editGuestPreferredName()"
                  />
                </div>
              </div>
              <div title="The name the guest legally goes by" class="input-group row align-items-center">
                <label for="guest_legal_name"
                       class="col-sm-2 col-form-label control-label">Legal name:</label>
                <div class="col-sm-10">
                  <input
                      id="guest_legal_name" class="form-control form-control-sm"
                      type="text" inputmode="latin-prose" autocomplete="off"
                      onchange="editGuestLegalName()"
                  />
                </div>
              </div>
              <div title="A physical description of the guest, including age, height, gender presentation, clothing, etc." class="input-group row align-items-center">
                <label for="guest_description" class="col-sm-2 col-form-label control-label">Physical description:</label>
                <div class="col-sm-10">
                  <input
                      id="guest_description" class="form-control form-control-sm"
                      type="text" inputmode="latin-prose" autocomplete="off"
                      onchange="editGuestDescription()"
                  />
                </div>
              </div>
              <div title="The plan for getting this guest back out into the city" class="input-group row align-items-center">
                <label for="guest_action_plan" class="col-sm-2 col-form-label control-label">Action plan:</label>
                <div class="col-sm-10">
                  <input
                      id="guest_action_plan" class="form-control form-control-sm"
                      type="text" inputmode="latin-prose" autocomplete="off"
                      onchange="editGuestActionPlan()"
                  />
                </div>
              </div>
              <div title="When this guest arrived at Sanctuary" class="input-group row align-items-center">
                <!-- This label will be applied to the altInput, which is created in the JS by Flatpickr. -->
                <label class="col-sm-2 col-form-label control-label" for="alt_arrival_time">Arrival time:</label>
                <div class="col-sm-10">
                  <input id="arrival_time" type="text" class="form-control form-control-sm" />
                </div>
              </div>
              <div title="When this guest departed from Sanctuary"  class="input-group row align-items-center">
                <!-- This label will be applied to the altInput, which is created in the JS by Flatpickr. -->
                <label class="col-sm-2 col-form-label control-label" for="alt_departure_time">Departure time:</label>
                <div class="col-sm-10">
                  <input id="departure_time" type="text" class="form-control form-control-sm" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      </div>
      <div class="accordion">

      <!-- Arrival/departure details -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-arrival" aria-controls="collapse-arrival">
            Arrival/Departure
          </button>
        </h2>
        <div id="collapse-arrival" class="accordion-collapse collapse">
          <div class="accordion-body">
            <form class="form-horizontal">
              <div title="How the guest arrived at Sanctuary (on foot, by volunteer transport, etc.)"  class="input-group row align-items-center">
                <label for="arrival_method" class="col-sm-2 col-form-label control-label">Arrival method:</label>
                <div class="col-sm-10">
                  <input
                      id="arrival_method"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      onchange="editArrivalMethod()"
                  />
                </div>
              </div>

              <div title="The guest's physical and emotional state at arrival" class="input-group row align-items-center">
                <label for="arrival_state" class="col-sm-2 col-form-label control-label">Arrival state:</label>
                <div class="col-sm-10">
                  <input
                      id="arrival_state"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      onchange="editArrivalState()"
                  />
                </div>
              </div>

              <div title="The reason the guest needed a visit to Sanctuary" class="input-group row align-items-center">
                <label for="arrival_reason" class="col-sm-2 col-form-label control-label">Reason:</label>
                <div class="col-sm-10">
                  <textarea
                      id="arrival_reason"
                      class="form-control form-control-sm"
                      rows="1"
                      onchange="editArrivalReason()"
                  ></textarea>
                </div>
              </div>

              <div title="The belongings brought with the guest to Sanctuary, including medications" class="input-group row align-items-center">
                <label for="arrival_belongings" class="col-sm-2 col-form-label control-label">Items brought:</label>
                <div class="col-sm-10">
                  <textarea
                      id="arrival_belongings"
                      class="form-control form-control-sm"
                      rows="1"
                      onchange="editArrivalBelongings()"
                  ></textarea>
                </div>
              </div>

              <div title="How the guest departed from Sanctuary (on foot, by volunteer transport, etc.)" class="input-group row align-items-center">
                <label for="departure_method" class="col-sm-2 col-form-label control-label">Departure method:</label>
                <div class="col-sm-10">
                  <input
                      id="departure_method"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      onchange="editDepartureMethod()"
                  />
                </div>
              </div>

              <div title="The guest's physical and emotional state at departure" class="input-group row align-items-center">
                <label for="departure_state" class="col-sm-2 col-form-label control-label">Departure state:</label>
                <div class="col-sm-10">
                  <input
                      id="departure_state"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      onchange="editDepartureState()"
                  />
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>

      </div>
      <div class="accordion">

      <!-- Camp and contact information -->
      <div class="accordion-item">
        <h2 class="accordion-header position-relative">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-camp" aria-controls="collapse-camp">
            Camp and Contacts
          </button>
        </h2>
        <div id="collapse-camp" class="accordion-collapse collapse">
          <div class="accordion-body">
            <form class="form-horizontal">
              <div title="The guest's camp name" class="input-group row align-items-center">
                <label for="guest_camp_name" class="col-sm-2 col-form-label control-label">Camp name:</label>
                <div class="col-sm-10">
                  <input
                          id="guest_camp_name"
                          type="text"
                          class="form-control form-control-sm"
                          autocomplete="off"
                          onchange="editGuestCampName()"
                  />
                </div>
              </div>
              <div title="The guest's camp address" class="input-group row align-items-center">
                <label for="guest_camp_address" class="col-sm-2 col-form-label control-label">Camp address:</label>
                <div class="col-sm-10">
                  <input
                          id="guest_camp_address"
                          type="text"
                          class="form-control form-control-sm"
                          autocomplete="off"
                          onchange="editGuestCampAddress()"
                  />
                </div>
              </div>
              <div title="Optional additional description of the camp, if the name and address aren't enough" class="input-group row align-items-center">
                <label for="guest_camp_description" class="col-sm-2 col-form-label control-label">Camp description:</label>
                <div class="col-sm-10">
                  <input
                          id="guest_camp_description"
                          type="text"
                          class="form-control form-control-sm"
                          aria-label="Additional location description"
                          autocomplete="off"
                          onchange="editGuestCampDescription()"
                  />
                </div>
              </div>
              <div title="Any names or contact information for friends/campmates of the guest" class="input-group row align-items-center">
                <label for="guest_camp_contacts" class="col-sm-2 col-form-label control-label">Contacts:</label>
                <div class="col-sm-10">
                  <input
                          id="guest_camp_contacts"
                          type="text"
                          class="form-control form-control-sm"
                          aria-label="Guest camp contact information"
                          autocomplete="off"
                          onchange="editGuestCampContacts()"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      </div>
      <div class="accordion">

      <!-- Sanctuary resources -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-resources" aria-controls="collapse-resources">
            Resources
          </button>
        </h2>
        <div id="collapse-resources" class="accordion-collapse collapse">
          <div class="accordion-body">
            <form class="form-horizontal">
              <div title="The most reason Sanctuary volunteer who sat with the guest" class="input-group row align-items-center">
                <label for="resource_sitter" class="col-sm-2 col-form-label control-label">Sanctuary sitter:</label>
                <div class="col-sm-10">
                  <input
                      id="resource_sitter" class="form-control form-control-sm"
                      type="text" inputmode="latin-prose" autocomplete="off"
                      onchange="editResourceSitter()"
                  />
                </div>
              </div>
              <div title="The identifier for the bed used by the guest" class="input-group row align-items-center">
                <label for="resource_bed_id" class="col-sm-2 col-form-label control-label">Bed ID:</label>
                <div class="col-sm-10">
                  <input
                      id="resource_bed_id" class="form-control form-control-sm"
                      type="text" inputmode="latin-prose" autocomplete="off"
                      onchange="editResourceBedID()"
                  />
                </div>
              </div>
              <div title="Rest-related resources used by the guest, like blankets" class="input-group row align-items-center">
                <label for="resource_rest" class="col-sm-2 col-form-label control-label">Bedding/blankets:</label>
                <div class="col-sm-10">
                  <input
                      id="resource_rest"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      onchange="editResourceRest()"
                  />
                </div>
              </div>
              <div title="Clothing resources donated from Sanctuary to the guest" class="input-group row align-items-center">
                <label for="resource_clothes" class="col-sm-2 col-form-label control-label">Clothing:</label>
                <div class="col-sm-10">
                  <input
                      id="resource_clothes"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      onchange="editResourceClothes()"
                  />
                </div>
              </div>
              <div title="Details of Sanctuary food or beverages donated to the guest" class="input-group row align-items-center">
                <label for="resource_food_bev" class="col-sm-2 col-form-label control-label">Food/bev given:</label>
                <div class="col-sm-10">
                  <input
                      id="resource_food_bev"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      onchange="editResourceFoodBev()"
                  />
                </div>
              </div>
              <div title="Number/details of Commissary meals given to the guest" class="input-group row align-items-center">
                <label for="resource_pogs" class="col-sm-2 col-form-label control-label">Commissary food:</label>
                <div class="col-sm-10">
                  <input
                      id="resource_pogs"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      onchange="editResourcePogs()"
                  />
                </div>
              </div>
              <div title="Any other resources used for the guest, such as first aid, CIT, ESD, shower pogs" class="input-group row align-items-center">
                <label for="resource_other" class="col-sm-2 col-form-label control-label">Other resources:</label>
                <div class="col-sm-10">
                  <input
                      id="resource_other"
                      type="text"
                      class="form-control form-control-sm"
                      autocomplete="off"
                      onchange="editResourceOther()"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      </div>
      <div class="accordion">

      <!-- Sanctuary people -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-people" aria-controls="collapse-people">
            People Involved
          </button>
        </h2>
        <div id="collapse-people" class="accordion-collapse collapse">
            <div class="accordion-body">
              <ul id="visit_people_list" class="list-group list-group-small">
                <template id="visit_people_li_template">
                  <li class="list-group-item flex-input-container ps-3 hidden">
                    <span><a href="#" tabindex="-1"></a></span>
                    <input aria-label="Description of involvement" type="text" class="form-control form-control-sm short-input auto-width hover-placeholder border-0"
                        placeholder="Short description of involvement" onchange="setPersonInvolvement(this)" maxlength="50"
                    />
                    <button class="badge btn btn-danger remove-badge float-end" onclick="removePerson(this)" tabindex="-1">
                      X
                    </button>
                  </li>
                </template>
              </ul>
              <div class="flex-input-container no-print">
                <label for="person_add" class="control-label">Add:</label>
                <input
                        type="text"
                        id="person_add"
                        aria-label="Add Person"
                        list="person_handles"
                        autocomplete="off"
                        class="form-control form-control-sm auto-width"
                        onchange="addPerson()"
                />
                <datalist id="person_handles">
                  <option value=""></option>
                </datalist>
              </div>
          </div>
        </div>
      </div>

      </div>
      <div class="accordion">

      <!-- Report Entries -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse-notes" aria-expanded="true" aria-controls="collapse-notes">
            Visit Notes &amp; Report Entries
          </button>
        </h2>
        <div id="collapse-notes" class="accordion-collapse collapse show">
          <div id="report_entry_well" class="accordion-body">
            <label class="control-label">
              <input id="history_checkbox" type="checkbox" onchange="toggleShowHistory()"/>
              Show history and stricken
            </label>
          <div id="report_entries"></div>
            <textarea
                    id="report_entry_add"
                    aria-label="New report entry text"
                    class="form-control no-print"
                    placeholder="Press &quot;a&quot; to add report text"
                    onchange="reportEntryEdited()"
            ></textarea>
            <div class="d-flex justify-content-between">
              <button
                      id="report_entry_submit"
                      aria-label="Submit report entry"
                      type="submit"
                      class="btn btn-default btn-sm btn-block my-1 disabled no-print float-start"
                      onclick="submitReportEntry()"
              >
                Add Entry (Control &#9166;)
              </button>
              <!-- File attachment -->
              <label class="input-group-text hidden" for="attach_file_input">Attach file</label>
              <input type="file" class="form-control hidden" id="attach_file_input" name="filename" onchange="attachFile();" />
              <input
                      id="attach_file"
                      type="button"
                      class="btn btn-default btn-sm btn-block btn-secondary my-1 form-control-lite no-print hidden"
                      value="Attach file"
                      onclick="document.getElementById('attach_file_input').click();"
              />
            </div>
          </div>
          </div>
      </div>

    </div>

@Footer(versionName, versionRef)
</div>
</body>
</html>
}
