// SPDX-License-Identifier: Apache-2.0

package template

templ AdminRoot(deployment, versionName, versionRef string) {
<!DOCTYPE html>
<html lang="en">
@Head("Administration Tools", "admin_root.js", false, false, versionRef)

<body>
<div class="container-fluid">
@Header(deployment)
@Nav("")
<h1 id="doc-title">Administration Tools</h1>

@ErrorInfo()

  <ul>
    <li>
      <a href="/ims/app/admin/events">
        Events
      </a>
    </li>
    <li>
      <a href="/ims/app/admin/actionlogs">
        Action Logs
      </a>
    </li>
    <li>
      <a href="/ims/app/admin/types">
        Incident Types
      </a>
    </li>
    <li>
      <a href="/ims/app/admin/outcomes">
        Incident Outcomes
      </a>
    </li>
    <li>
      <a href="/ims/app/admin/areas">
        Event Areas
      </a>
    </li>
    <li>
      <a href="/ims/app/admin/people">
        People &amp; Passwords
      </a>
    </li>
    <li>
      <a href="/ims/app/admin/debug">
        Server Debugging Details
      </a>
    </li>
  </ul>
@Footer(versionName, versionRef)
</div>
</body>
</html>
}
