// SPDX-License-Identifier: Apache-2.0

package template

templ Footer(versionName, versionRef string) {
<footer>
  <div class="no-print">
    <hr class="footer-hr"/>
    <p class="footer-text text-center">
    IMS © Oregon Country Fair & <a class="link-body-emphasis" href="https://maybloom.tech" target="_blank" rel="noopener noreferrer">Maybloom</a>.<br />
    Data in IMS is strictly confidential.<br />
    Access is logged.
    <br /><a class="link-body-emphasis font-monospace" title={"Built from commit " + versionRef} href={"https://github.com/mikeki/ocf-ims/commit/" + versionRef}>{shortRef(versionRef)}</a>
    </p>
  </div>
</footer>
}
