// SPDX-License-Identifier: Apache-2.0

package template

import "strings"

templ Header(deployment string) {
<header>
    if strings.ToLower(deployment) != "production" {
        <div class="nonprod-warning text-center" title="This environment is designed for testing or training, and permissions are generally open to all users. Don't add anything to this IMS instance about real participants or pertaining to sensitive operational details.">
        This is a {strings.ToLower(deployment)} server. <wbr />Use fake data only!
        </div>
    }
</header>
}
