// SPDX-License-Identifier: Apache-2.0

package template

templ MultisearchModal() {
<div class="modal no-print" id="multisearchModal" tabindex="-1" aria-labelledby="multisearchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title fs-5" id="multisearchModalLabel">Multi-search (alpha)</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
      </div>
      <div class="modal-body">
        <p class="mt-2 mb-2">
            Multi-search helps you query items from several Events at once.
            The below links include any filters or search query you've applied to the current page.<br />
            Open these in new tabs by middle-clicking or control/command-clicking on them.</p>
        <ul id="multisearch-events-list">
          <template>
            <li>
              <a href="#"></a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
</div>
}
